<!DOCTYPE html>
<html lang="pt-br">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/portal.css' %}">

    {% block title %}
    <title>Portal</title>
    {% endblock title %}

</head>
<body>

    {% include "menu.html" %}

    {% block content %}

        {% include "menubotoes.html" %}
        
    {% endblock content %}

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>