{% load static %}

<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-portal-menu">
                    <span class="sr-only">Mudar navegação</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="navbar-header">
                    <a class="navbar-brand" href="">
                        <img alt="logo portal da transparencia" class="img-responsive" title="Ir para página inicial" src="{% static 'img/brasao.png' %}" alt="">
                    </a>
                </div>

                <div id="navbar-portal-menu" class="collapse navbar-collapse navbar-right">
                    <ul id="menu-menu-topo" class="nav navbar-nav">
                        <li id="menu-item-1623" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1623 dropdown">
                            <a title="O Governo" href="" data-toggle="dropdown" class="dropdown-toggle" 
                                aria-haspopup="true">O Governo <span class="caret"></span>
                            </a>

                            <ul role="menu" class=" dropdown-menu">
                                <li id="menu-item-28578" class="menu-item menu-item-type-custom     
                                    menu-item-object-custom menu-item-28578">
                                    <a title="Semanário Oficial" href="">Semanário Oficial</a>
                                </li>

                                <li id="menu-item-1642" class="menu-item menu-item-type-post_type   
                                    menu-item-object-page menu-item-1642">
                                    <a title="Organograma" href="">Organograma</a>
                                </li>

                                <li id="menu-item-2335" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2335">
                                    <a title="Estrutura Organizacional e Competências dos Órgãos" href="">Estrutura Organizacional e Competências dos Órgãos
                                    </a>
                                </li>

                                <li id="menu-item-1714" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1714">
                                    <a title="Prestação de contas" href="">Prestação de contas</a>
                                </li>

                                <li id="menu-item-1722" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1722">
                                    <a title="Receitas" href="">Receitas</a>
                                </li>

                                <li id="menu-item-1719" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1719">
                                    <a title="Despesas" href="">Despesas</a>
                                </li>

                                <li id="menu-item-1720" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1720">
                                    <a title="Gastos com Publicidade" href="">Gastos com Publicidade</a>
                                </li>

                                <li id="menu-item-1721" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1721">
                                    <a title="Orçamento Municipal" href="">Orçamento Municipal</a>
                                </li>

                                <li id="menu-item-1723" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1723">
                                    <a title="Plano de Metas 2013-2016" href="">Plano de Metas 2013-2016</a>
                                </li>

                                <li id="menu-item-1724" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1724">
                                    <a title="Servidores" href="">Servidores</a>
                                </li>

                                <li id="menu-item-2951" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2951">
                                    <a title="Convenios" href="">Convenios</a>
                                </li>

                                <li id="menu-item-28714" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28714">
                                    <a title="Planos e Projetos" href="">Planos e Projetos</a>
                                </li>

                                <li id="menu-item-27796" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-27796">
                                    <a title="Licitações e Contratos" href="">Licitações e Contratos</a>
                                </li>

                                <li id="menu-item-2060" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2060">
                                    <a title="Comissão da Verdade" href="">Comissão da Verdade</a>
                                </li>
                            </ul>
                        </li>

                        <li id="menu-item-2547" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2547 dropdown">
                            <a title="Participação Social" href="" data-toggle="dropdown" class="dropdown-toggle"   aria-haspopup="true">Participação Social <span class="caret"></span>
                            </a>

                            <ul role="menu" class=" dropdown-menu">
                                <li id="menu-item-2706" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2706 dropdown">
                                    <a title="Conferências" href="">Conferências <span class="caret-right"></span></a>
                                        <ul role="menu" class=" dropdown-menu">
                                            <li id="menu-item-28091" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28091">
                                                <a title="I Conferência Municipal de Politicas Públicas para as Mulheres" href="">I Conferência Municipal de Politicas Públicas para as Mulheres</a>
                                            </li>

                                            <li id="menu-item-2718" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2718">
                                                <a title="Calendário de Conferências" href="">Calendário de Conferências</a>
                                            </li>

                                            <li id="menu-item-2735" class="menu-item menu-item-type-post_type   
                                                    menu-item-object-page menu-item-2735">
                                                <a title="II Conferência Municipal de Proteção e Defesa Civil de João Pessoa" href="">II Conferência Municipal de Proteção e Defesa Civil <br> de João Pessoa</a>
                                            </li>

                                            <li id="menu-item-2619" class="menu-item menu-item-type-post_type 
                                                    menu-item-object-page menu-item-2619">
                                                <a title="Relatório da I Conferência Municipal sobre Transparência e Controle Social" href="">Relatório da I Conferência Municipal sobre <br> Transparência e Controle Social
                                                </a>
                                            </li>

                                            <li id="menu-item-2707" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2707">
                                                <a title="Relatório da III Conferência Regional de Políticas para 
                                                    as Mulheres" href="">Relatório da III Conferência Regional de Políticas <br> para as Mulheres</a>
                                            </li>

                                            <li id="menu-item-2729" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2729">
                                                <a title="Relatório da V Conferência da Cidade" href="">Relatório da V Conferência da Cidade</a>
                                            </li>
                                        </ul>
                                    </li>

                                <li id="menu-item-2517" class="menu-item menu-item-type-custom
                                        menu-item-object-custom menu-item-2517">
                                    <a title="Ouvidoria Geral do Município" href="">Ouvidoria Geral do Município</a>
                                </li>

                                <li id="menu-item-2552" class="menu-item menu-item-type-custom
                                         menu-item-object-custom menu-item-2552">
                                    <a title="Orçamento Participativo" href="">Orçamento Participativo</a>
                                </li>

                                <li id="menu-item-2559" class="menu-item menu-item-type-custom
                                         menu-item-object-custom menu-item-2559">
                                    <a title="PPA Participativo" href="">PPA Participativo</a>
                                </li>

                                <li id="menu-item-2622" class="menu-item menu-item-type-post_type
                                         menu-item-object-page menu-item-2622">
                                    <a title="Orçamento Participativo Criança e Adolescente" href="">Orçamento Participativo Criança e Adolescente</a>
                                </li>

                                <li id="menu-item-1630" class="menu-item menu-item-type-custom
                                         menu-item-object-custom menu-item-has-children menu-item-1630 dropdown">
                                    <a title="Conselhos" href="">Conselhos <span class="caret-right"></span>
                                    </a>
                                        <ul role="menu" class=" dropdown-menu">
                                            <li id="menu-item-1651" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1651">
                                                <a title="Conselho da Transparência Pública e Combate à Corrupção" href="">Conselho da Transparência Pública e <br> Combate à Corrupção</a>
                                            </li>

                                            <li id="menu-item-1652" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1652">
                                                <a title="Conselho Municipal dos Direitos da Mulher" href="">Conselho Municipal dos Direitos da Mulher</a>
                                            </li>

                                            <li id="menu-item-1653" class="menu-item menu-item-type-custom
                                                    menu-item-object-custom menu-item-1653">
                                                <a title="Conselho Municipal de Educação" href="">Conselho Municipal de Educação</a>
                                            </li>

                                            <li id="menu-item-1654" class="menu-item menu-item-type-custom
                                                    menu-item-object-custom menu-item-1654">
                                                <a title="Conselho Municipal de Defesa do Consumidor" href="">Conselho Municipal de Defesa do Consumidor</a>
                                            </li>

                                            <li id="menu-item-1655" class="menu-item menu-item-type-custom
                                                    menu-item-object-custom menu-item-1655">
                                                <a title="Conselho Municipal de Assistência Social" href="">Conselho Municipal de Assistência Social</a>
                                            </li>

                                            <li id="menu-item-1656" class="menu-item menu-item-type-custom
                                                    menu-item-object-custom menu-item-1656">
                                                <a title="Conselho Municipal de Saúde" href="">Conselho Municipal de Saúde</a>
                                            </li>

                                            <li id="menu-item-1657" class="menu-item menu-item-type-custom
                                                    menu-item-object-custom menu-item-1657">
                                                <a title="Conselho Municipal Anti Drogas" href="">Conselho Municipal Anti Drogas</a>
                                            </li>

                                            <li id="menu-item-1658" class="menu-item menu-item-type-custom
                                                    menu-item-object-custom menu-item-1658">
                                                <a title="Conselho Municipal de Turismo" href="">Conselho Municipal de Turismo</a>
                                            </li>

                                            <li id="menu-item-1659" class="menu-item menu-item-type-custom
                                                    menu-item-object-custom menu-item-1659">
                                                <a title="Conselho Municipal da Pessoa Idosa" href="">Conselho Municipal da Pessoa Idosa</a>
                                            </li>

                                            <li id="menu-item-1660" class="menu-item menu-item-type-custom
                                                    menu-item-object-custom menu-item-1660">
                                                <a title="Conselho Municipal do Meio Ambiente" href="">Conselho Municipal do Meio Ambiente</a>
                                            </li>
                                        </ul>               
                                    </li>
                                </ul>
                            </li>

                            <li id="menu-item-1629" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1629 dropdown">
                            <a title="SIC" href="" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="   true">SIC <span class="caret"></span>
                            </a>
                            <ul role="menu" class=" dropdown-menu">
                                 <li id="menu-item-1644" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1644">
                                    <a title="Solicitar informação" href="">Solicitar informação</a>
                                </li>

                                <li id="menu-item-1645" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1645">
                                    <a title="Acompanhar pedido de informação" href="">Acompanhar pedido de informação</a>
                                </li>

                                <li id="menu-item-1734" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1734">
                                    <a title="Endereços dos SICs presenciais" href="">Endereços dos SICs presenciais</a>
                                </li>

                                <li id="menu-item-2950" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2950">
                                    <a title="Estatísticas do SIC" href="">Estatísticas do SIC</a>
                                </li>

                                <li id="menu-item-2076" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2076">
                                    <a title="Relatório do SIC - 2014" href="">Relatório do SIC – 2014</a>
                                </li>

                                <li id="menu-item-2806" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2806">
                                    <a title="Relatório do SIC - 2015" href="">Relatório do SIC – 2015</a>
                                </li>
                            </ul>
                        </li>

                            <li id="menu-item-2516" class="menu-item menu-item-type-custom
                                    menu-item-object-custom menu-item-2516">
                                <a title="Dados Públicos" href="">Dados Públicos</a>
                            </li>

                            <li id="menu-item-1643" class="menu-item menu-item-type-custom
                                     menu-item-object-custom menu-item-has-children menu-item-1643 dropdown">
                                <a title="Fale Conosco" href="" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Fale Conosco <span class="caret"></span></a>
                                    <ul role="menu" class=" dropdown-menu">
                                        <li id="menu-item-2252" class="menu-item menu-item-type-custom
                                                menu-item-object-custom menu-item-2252">
                                            <a title="A Setransp" href="">A Setransp</a>
                                        </li>

                                        <li id="menu-item-1632" class="menu-item menu-item-type-post_type
                                                menu-item-object-page menu-item-1632">
                                            <a title="Entre em contato" href="">Entre em contato</a>
                                        </li>
                                    </ul>
                                </li>
                            
                            <li id="menu-item-1631" class="menu-item menu-item-type-custom
                                    menu-item-object-custom menu-item-has-children menu-item-1631 dropdown">
                                <a title="Ajuda" href="" data-toggle="dropdown" class="dropdown-toggle" 
                                    aria-haspopup="true">Ajuda <span class="caret"></span>
                                </a>
                                <ul role="menu" class=" dropdown-menu">
                                    <li id="menu-item-2078" class="menu-item menu-item-type-custom
                                            menu-item-object-custom menu-item-2078">
                                        <a title="Política de Privacidade" href="">Política de Privacidade</a>
                                    </li>

                                    <li id="menu-item-2358" class="menu-item menu-item-type-post_type
                                            menu-item-object-page menu-item-2358">
                                        <a title="Glossário Interativo" href="">Glossário Interativo</a>
                                    </li>

                                    <li id="menu-item-1634" class="menu-item menu-item-type-post_type
                                            menu-item-object-page menu-item-1634">
                                        <a title="Perguntas Frequentes" href="">Perguntas Frequentes</a>
                                    </li>

                                    <li id="menu-item-2170" class="menu-item menu-item-type-custom
                                            menu-item-object-custom menu-item-2170">
                                        <a title="Manual de Navegação" href="">Manual de Navegação</a>
                                    </li>
                                </ul>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="clearfix"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="sumario-atualizacao">
                <p class="text-right"><strong>Dados atualizados em:</strong> 29/12/2016 19:00:01 </p>
            </div>
        </div>
    </div>
</div>